DI1401-Primary_Notes_DIP.pdf
HW0/HW0_401133010.zip
HW0/HW0_Report.docx
HW0/HW0.rar
HW0/Q3_Image.png
HW0/Q3_Surface.png
HW0/Q4.png
HW0/HW0_DIP.pdf
HW0/chest-xray.png
HW0/HW0_Report.pdf
HW1/HW1_DIP.rar
HW1/Codes/HW1_401133010.zip
HW1/Codes/HW1_Report.docx
HW1/HW1_Q3_All.png
HW1/HW1_Q3_Interpolations.png
HW1/HW1_Q4_Full.png
HW1/IMG_20230323_234710.jpg
HW1/Codes/Appendix1.jpg
HW1/Codes/Appendix2.jpg
HW1/Codes/HW1_Q3.png
HW1/HW1_DIP.pdf
HW1/HW1_Q4_background_LE.bmp
HW1/HW1_Q4_fullscale_LE.bmp
HW1/HW1_Q4_object_LE.bmp
HW1/Codes/HW1_Q4_background_LE.bmp
HW1/Codes/HW1_Q4_fullscale_LE.bmp
HW1/Codes/HW1_Q4_object_LE.bmp
HW2/2023-Spring-HW2.rar
HW2/Codes/HW2_401133010.zip
HW2/Codes/HW2_Report.docx
HW2/Figures/Fingerprint_TEST.png
HW2/Figures/Fetus_TEST.png
HW2/Codes/HW2_Q1.jpg
HW2/Codes/HW2_Q2.jpg
HW2/Figures/Fetus_Images_and_Histograms_MA0.png
HW2/Figures/Fetus_Images_and_Histograms.png
HW2/Figures/Fingerprint_Images_and_Histograms_MA0.png
HW2/Figures/Fingerprint_Images_and_Histograms.png
HW2/Figures/HW2_Q1.jpg
HW2/Figures/HW2_Q2p.jpg
HW2/Figures/HW2_Q3_F1.jpeg
HW2/Figures/HW2_Q3_F1.png
HW2/Figures/HW2_Q3_F2.png
HW2/Figures/HW2_Q3_F3.png
HW2/Figures/HW2_Q3_F4.png
HW2/Figures/HW2_Q3_F5.png
HW2/Figures/HW2_Q3_Info.png
HW2/Figures/HW2_Q4_Info.png
HW2/Figures/Original_and_Stretched_Chest_Image_and_Histograms.png
HW2/Figures/Original_Fetus_Image.png
HW2/Figures/Original_Fingerprint_Image.png
HW2/Figures/Spine_after_power_law_transformation_with_suitable_lambda.png
HW2/Figures/Spine_Image_Transform_Results.png
HW2/Figures/Spine_Image.png
HW2/Figures/Chest_Image.png
HW2/2023-Spring-HW2.pdf
HW2/HW2_Q3_chest.tif
HW2/HW2_Q3_spine.tif
HW2/HW2_Q4_FingerPrint.tif
HW2/HW2_Q4_Ultrasound-Fetus.tif
HW2/Codes/HW2_Report.pdf
HW3/2023-Spring-HW3.rar
HW3/HW3_401133010.zip
HW3/HW3_Q2_P1.jpg
HW3/HW3_Q2_P2.jpg
HW3/HW3_Report.docx
HW3/Figs/Final_Tissue.png
HW3/Figs/First_One_LaplacianCompare.png
HW3/Figs/First_One_Sharpened_Comparison.png
HW3/Figs/First_Page.png
HW3/Figs/Horizontal_Bones.png
HW3/Figs/HW1_Q4_2Images.png
HW3/Figs/Kidney_Lapclians_CLAHE--1.png
HW3/Figs/Kidney_Lapclians_wCLAHE_cnvt_3.png
HW3/Figs/Kidney_Lapclians_woCLAHE_-1.png
HW3/Figs/Kidney_Lapclians_woCLAHE_cnvt_3.png
HW3/Figs/Kidney_Lapclians_woCLAHE-3.png
HW3/Figs/Kidney_Original_and_Filtered_ksize11.png
HW3/Figs/Kidney_Original_and_Filtered.png
HW3/Figs/QQQ2.png
HW3/Figs/Second_Page.png
HW3/Figs/Skeleton.png
HW3/Figs/Vertical_Bones.png
HW3/HW3_Report.pdf
HW3/2023-Spring-HW3.pdf
HW3/Kidney.png
HW3/salt-and-pepper-Skeleton.png
HW4/1HW4_401133010.zip
HW4/HW4_401133010_Updated.zip
HW4/2023-Spring-HW4.rar
HW4/HW4_Report.docx
HW4/Figures/HPF.png
HW4/Figures/LPF.png
HW4/Figures/P1.png
HW4/Figures/P1V2.png
HW4/Figures/P3.png
HW4/Figures/P3V2.png
HW4/Figures/P4.png
HW4/Figures/P4V2.png
HW4/Figures/P8.png
HW4/1.jpg
HW4/2.jpg
HW4/3.jpg
HW4/shoulder.jpg
HW4/2023-Spring-HW4.pdf
HW4/chest.tif
HW4/HW4_Report.pdf
HW5/2023-Spring-HW5.rar
HW5/2023-Spring-HW5.pdf
HW5/circles.png
HW5/degraded_img.png
HW5/noisy_img.png
HW6/2023-Spring-HW6.rar
HW6/2023-Spring-HW6.pdf
HW6/chromophobe-renal-cell-carcinoma-6.jpg
HW6/HW6Q2A.png
HW6/HW6Q2B.png
HW6/limbal-dermoid.jpeg
HW6/normal-ct-of-the-neck.jpg

